:root {
    /* Colours */
    --main-color: #FFB929;
    --accent-color: #800080;
    --background-color: #E4E4E4;
    --card-background-color: white;
    --card-heading-color: black;
    --card-text-color: #636363;

    --search-bar-height: 2.5rem;
    --hamburger-menu-height: 2.5rem;
    --main-content-left-padding: 7.5vw;
    --border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}

/* ------------------------------Side Nav------------------------------ */

#side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
    transition: 0.5s;

    display: grid;
    grid-template-columns: 70px auto 1fr;
    grid-template-rows: repeat(10, min-content);
    row-gap: 20px;
    color: black;
}

#close-btn {
    height: 2.5rem;
    padding: 8px;
    place-self: start end;
    grid-column: 3 / 4;
}

#side-nav a {
    align-self: center;
    color: inherit;
    text-decoration: none;
}

/* Anchor tags containing side nav link icons */
#side-nav :nth-child(even) {
    grid-column: 1 / 2; /* Place in first column */
    justify-self: center;
    font-size: 0; /* Get rid of extra height */
}

/* Anchor tags containing side nav link text */
#side-nav a:nth-of-type(even) {
    width: fit-content;
}

.side-nav-link-icon {
    height: 1.5rem;
}

.side-nav-link-text {
    font-size: 1.2rem;
}

/* Dashboard title and icon anchor tags */
#side-nav a:nth-of-type(-n + 2) {
    grid-row: 1 / 2; /* Place on same row as close button */
    margin-top: 20px;
    margin-bottom: 20px;
}

#dashboard-icon {
    height: 2.8rem;
}

#dashboard-title {
    font-size: 2rem;
}

/* Create divide between side nav row sections */
.settings {
    margin-top: 50px;
}

/* Add space between last side nav row and bottom of page */
#side-nav a:nth-last-child(-n + 2) {
    margin-bottom: 20px;
}

/* ------------------------------Header------------------------------ */

#header {
    display: grid;
    justify-content: center;
    padding: 20px 0 20px;
    background-color: var(--background-color);
}

#search-container {
    position: relative;
    display: grid;
    width: calc(100vw - (var(--main-content-left-padding)) * 2);
}

#search {
    border: none;
    border-radius: var(--border-radius);
    height: var(--search-bar-height);
    min-width: 0; /* Fixes overflow for < 300px width screens */
    font-size: 1rem;
    padding-left: var(--search-bar-height);
    padding-right: calc(var(--search-bar-height) * 2);
}

#hamburger-menu {
    position: absolute;
    height: var(--hamburger-menu-height);
    padding: 8px;

    /* top: 0 and bottom: 0 sets boundaries,
    margin-top: auto and margin-bottom: auto
    vertically centers the element within those 
    boundaries */
    top: 0;
    bottom: 0; 
    margin: auto 0 auto calc((var(--search-bar-height) - var(--hamburger-menu-height)) / 2); 
}

#bell {
    position: absolute;
    height: 1.2rem;
    top: 0;
    bottom: 0;
    right: 0; /* Positions element on right */
    margin: auto 48px auto 0;
}

#current-user-icon {
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    height: 1.7rem;
    width: 1.7rem;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 8px auto 0;
}

/* ------------------------------Main Content------------------------------ */

#main-content {
    padding: 16px var(--main-content-left-padding) 16px;
    background-color: var(--background-color);
}

.main-content-section {
    margin-bottom: 36px;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 16px;
}

/* ------------------------------Projects------------------------------ */

#project-cards {
    display: grid;
    gap: 2rem;
    grid-template-rows: repeat(6, 1fr);
}

.project-card {
    border-left: 8px solid var(--accent-color);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 30px 20px;
    background-color: var(--card-background-color);
    color: var(--card-text-color);
}

.project-title {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: var(--card-heading-color);
}

.project-card-icons {
    place-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 15px;
}

.project-card-icons img {
    height: 1.5rem;
}

/* ------------------------------Announcements------------------------------ */

#announcements-card {
    border-radius: var(--border-radius);
    padding: 15px 20px;
    background-color: var(--card-background-color);
    color: var(--card-text-color);
}

/* Add lines between announcements */
#announcements-card div:nth-child(2) {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.announcement-section {
    padding: 15px 0;
}

.announcement-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: var(--card-heading-color);
}

/* ------------------------------Trending------------------------------ */

#trending-card {
    border-radius: var(--border-radius);
    padding: 30px 30px;
    display: grid;
    gap: 20px;
    background-color: var(--card-background-color);
}

.trending-section {
    display: grid;
    grid-template-columns: auto 1fr;
}

.trending-section img {
    object-fit: cover; /* Clip images to maintain aspect ratio */
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 15px;
}

.trending-bio {
    display: grid;
    align-content: center;
    grid-template-rows: repeat(2, min-content);
}

.trending-bio p:nth-last-child(1){
    color: var(--card-text-color);
}