:root {
    --search-bar-height: 2.5rem;
    --user-icon-height: 1.7rem;
    --bell-icon-height: 1.2rem;
    --hamburger-menu-height: 1.3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9ca3af;
    overflow-x: hidden;
    transition: 0.5s;

    display: grid;
    grid-template-columns: 70px auto 1fr;
    grid-template-rows: repeat(10, min-content);
    row-gap: 20px;
    color: black;
}

#close-btn {
    height: 1.5rem;
    place-self: start end;
    grid-column: 3 / 4;
    margin-top: 15px;
    margin-right: 15px;
}

#side-nav a {
    align-self: center;
    color: inherit;
    text-decoration: none;
}

/* Anchor tags containing side nav link icons */
#side-nav :nth-child(even) {
    grid-column: 1 / 2; /* Place in first column */
    justify-self: center;
    font-size: 0; /* Get rid of extra height */
}

/* Anchor tags containing side nav link text */
#side-nav a:nth-of-type(even) {
    width: fit-content;
}

.side-nav-link-icon {
    height: 1.5rem;
}

.side-nav-link-text {
    font-size: 1.2rem;
}

/* Dashboard title and icon anchor tags */
#side-nav a:nth-of-type(-n + 2) {
    grid-row: 1 / 2; /* Place on same row as close button */
    margin-top: 20px;
    margin-bottom: 20px;
}

#dashboard-icon {
    height: 2.8rem;
}

#dashboard-title {
    font-size: 2rem;
}

/* Create divide between side nav row sections */
.settings {
    margin-top: 50px;
}

#header {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

#search-container {
    position: relative;
    display: grid;
    width: 85vw;
}

#search {
    height: var(--search-bar-height);
    font-size: 1rem;
    padding-left: var(--search-bar-height);
    padding-right: calc(var(--search-bar-height) * 2);
}

#hamburger-menu {
    position: absolute;
    height: var(--hamburger-menu-height);

    /* top: 0 and bottom: 0 sets boundaries,
    margin-top: auto and margin-bottom: auto
    vertically centers the element within those 
    boundaries */
    top: 0;
    bottom: 0; 
    margin: auto 0 auto calc((var(--search-bar-height) - var(--hamburger-menu-height)) / 2); 
}

#bell {
    position: absolute;
    height: var(--bell-icon-height);
    top: 0;
    bottom: 0;
    right: 0; /* Positions element on right */
    margin: auto 48px auto 0;
}

#current-user-icon {
    border-radius: 50%;
    position: absolute;
    height: var(--user-icon-height);
    width: var(--user-icon-height);
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 8px auto 0;
}