* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

#search-container {
    position: relative;
    display: grid;
    width: 85vw;
}

#search {
    height: 2.5rem;
    text-indent: 2.5rem;
    font-size: 1.1rem;
}

#hamburger-menu {
    position: absolute;
    height: 2rem;
    margin: auto 0 auto 5px;
    top: 0;
    bottom: 0;
}